* {
    -blue: #33dbea;
}

.feedback-button {
    -fx-background-radius: 20;
    -fx-padding: 0 25 0 25;
    -fx-background-color: -blue;
}

.root{
    -fx-background-image: url(assets/gamebackground.jpg);
}

.loadpane{
    -fx-background-color: gray;
    -fx-background-radius: 10;
}